@import "";

.page-banner {
  background-image: url('images/smoke.jpeg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding: 40px;
}
.content {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.header {
  color: rgba(250, 250, 250, 0.9);
  margin-top: 18%;
  margin-left: 40px;
}
.header h1 {
  font-size: 120px;
}

@media only screen and (max-width: 600px) {
  .page-banner {
    padding-right: 0;
  }
  .header {
    margin-top: 70%;
    margin-left: 90px;
  }
  .header h1 {
  font-size: 60px;
}
}

@media only screen and (max-width: 360px) {
  .header {
    margin-top: 70%;
  }
  .header h1 {
    font-size: 44px;
  }
}
