@import "https://fonts.googleapis.com/css?family=Arimo:400,700|Source+Code+Pro:400,700,900&display=swap";
@import "landing.css";
@import "dotnav.css";
@import "fluid-gallery.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Arimo', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Source Code Pro', monospace;
}
.btn-light {
  background: none;
  color: white;
}
.section-back {
  background: linear-gradient(black, #0d0d0d, #1a1a1a, #262626, #333333);
  height: 100vh;
}

.section-back2 {
  background: linear-gradient(#333333, #404040, #4d4d4d, #595959);
  height: 100vh;
}

.section-back3 {
  background: linear-gradient(#595959, #666666, #737373, #808080);
  height: 100vh;
}
.section-back4 {
  background: linear-gradient(#808080, #8c8c8c, #999999, #a6a6a6);
  height: 40vh;
}
.section-margin {
  margin-top: 100px;
}
.about {
  padding-top: 100px;
}
.me {
  text-align: center;
}
.my-container {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
}

.image-container {
  width: 100%;
}
.image-me {
  width: 70%;
  margin: 30px 0 50px 0;
  opacity: 0.8;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  border: white 5px solid;
}
.headers-sub {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 40px;
}
.about-section {
  color: white;
  text-align: left;
  margin: 30px 0 50px 0;
}
.about-section p {
  margin-bottom: 30px;
}
.row-images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.link1 {
  color: white;
  font-size: 40px !important;
  padding-right: 14px;
}

.card-skills {
  position: relative;
  background: white;
  display: flex;
  flex-wrap: wrap;
  color: black;
  border-radius: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 30px;
}
.card-skills-info {
  text-align: left;
  padding: 20px 0;
}

.each-div div {
  padding: 10px 0;
}
.fa-all {
  padding-right: 20px;
  font-size: 24px;
}

@media only screen and (max-width: 800px) {
  .column {
      flex: 50%;
      max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {
  video {
    display: none;
    object-fit: none;
  }
  body {
    width: 100vw;
  }
  .title-header {
    font-size: 30px;
    top: 40%;
  }
  .header h1 {
    font-size: 60px;
  }
  .more-info {
    margin-top: 140%;
  }
  .job-title {
    font-size: 20px;
  }
  .btn-light {
    font-size: 15px;
  }
  .my-container {
    margin: 0 auto;
    width: 90%;
    height: 100vh;
  }
  .about {
    padding-top: 40px;
  }
  .about-desc {
    display: flex;
    justify-content: center;
    margin-top: -55px;
  }
  .about-section {
    font-size: 12px;
    text-align: center;
  }
  .headers-sub {
    font-size: 32px;
    margin-bottom: 20px;
  }
  #navbar {
    display: none;
  }
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column-no {
    display: none;
  }
  .fa-all {
    padding-right: 10px;
    font-size: 16px;
  }
  .card-skills-info {
    font-size: 12px;
  }
  .section-back4 {
    height: 100vh;
  }
}

@media only screen and (max-width: 360px) {
  video {
    display: none;
    object-fit: none;
  }
  .title-header {
    font-size: 30px;
  }
  .header h1 {
    font-size: 44px;
  }
  .more-info {
    margin-top: 120%;
    font-size: 20px;
  }
  .my-container {
    margin: 0 auto;
    width: 90%;
    height: 100vh;
  }
  .about {
    padding-top: 40px;
  }
  .about {
    padding-top: 40px;
  }
  .about-desc {
    display: flex;
    justify-content: center;
    margin-top: -55px;
  }
  .about-section {
    font-size: 12px;
    text-align: center;
  }
  .headers-sub {
    font-size: 32px;
    margin-bottom: 20px;
  }
  #navbar {
    display: none;
  }
  .column-no {
    display: none;
  }
  .section-back4 {
    height: 100vh;
  }
}
